{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<div class="row my-3">
		<div class="col-md-8">
			<div class="card mb-3">
                <img src="/media/{{news.image}}" class="card-img-top" alt="{{news.title}}" width="150px" height="200px">
			  <div class="card-body">
			    <h5 class="card-title">{{news.title}}</h5>
			    <hr/>
			    <p class="card-text">{{news.detail}}</p>
			  </div>
			  <div class="card-footer">
			  	In <a href="/category/{{news.category.id}}">{{news.category.title}}</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<h3 class="mb-3 border-bottom pb-1">More from {{category}}</h3>
			{% for news in related_news %}
			<div class="card mb-3 shadow">
                <img src="/media/{{news.image}}" class="card-img-top" alt="{{news.title}}" height="200px">
			  <div class="card-body">
			    <h5 class="card-title">{{news.title}}</h5>
			    <hr/>
			    <p class="card-text"><a href="/detail/{{news.id}}">More...</a></p>
			  </div>
			</div>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}